root = true

# 모든 파일
[*]

### 코어 EditorConfig 옵션 ###

# 인코딩
charset = utf-8

# 들여쓰기
indent_style = space
indent_size = 4

# 개행 문자
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

# 마크다운
[*.md]
trim_trailing_whitespace = false